extends ../layout

block content 
        div(class="container p-4")
            h3 Election Control
            hr 
            div(class="container-fluid d-flex") 
                div(class="row mt-2")
                    div(class="row p-2")
                        h5 Initialize Elections
                    div(class="row p-2")
                        div(class="container")
                            if election_status
                                a(class="btn btn-success disabled") Start
                                a(class="btn btn-danger",href="/admin/election/setup/stop") Stop 
                            else 
                                a(class="btn btn-success", href="/admin/election/setup/start") Start 
                                a(class="btn btn-danger disabled") Stop
                    div(class="row p-2 mt-3")
                        h6 Current Status 
                        if election_status
                            p(class="text-success") Election In Progress
                        else 
                            p(class="text-primary") Election is Stopped or has not Started
                    if voter_count 
                        div(class="row p-2")
                            h6 Current Vote Count 
                            p #{voter_count}