node_modules/
.VSCodeCounter/
erd-diagram/
face-recognition-microservice/__pycache__
face-recognition-microservice/fastapi-env
face-recognition-microservice/known_faces/*
face-recognition-microservice/unknown_faces/*
!face-recognition-microservice/known_faces/.gitkeep
!face-recognition-microservice/unknown_faces/.gitkeep 
voting-db-query.sql
