doctype html
html
  head
    title Voting System
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM",crossorigin="anonymous")
    script 
      include js/webcam_capture.js
    body
        nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
            div(class="col")
                    a(class="p-3 navbar-brand",href="/") Verify your Identity 
                    button(class="navbar-toggler",type="button",data-bs-toggle="collapse",data-bs-target="#navbarSupportedContent",aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
                        span(class="navbar-toggler-icon")
            div(class="p-2 col-xl-0")
                a(class="btn btn-outline-danger mr-2",href="/voters/logout") Logout 
        div(class="container mt-5 text-center")
            h3 Upload your Image
            div(class="container p-4")
                div(class="row")
                    div(class="col")
                        div(class="border border-primary camera p-3")
                            h5 Capture your photo here 
                            video(id="video") Video Stream Not Available  
                            div(class="p-2")
                                button(class="btn btn-outline-primary mr-3" id="startbutton") Take Photo!
                                button(class="btn btn-outline-danger ml-4" id="clearbutton") Clear
                    div(class="col")
                        div(class="border border-primary p-3")
                            h5 Your Photo Will Appear Here
                            canvas(id="canvas" hidden)
                            div(class="output")
                                img(id="photo")
                            div(class="p-2")
                                button(class="btn btn-outline-primary" id="sendpicture") Upload
                h5(class="p-3" id="message")
