extends ../layout

block content 
    body 
        div(class="container p-3")
            h1 Sign Up as Voter 
            hr 
            div(class="row p-3")
                div(class="border col-md-6 p-3")
                    div(class="row")
                        div(class="col")
                            p First Name 
                            input(class="form-control",type="text")
                            p(class="mt-3") Second Name 
                            input(class="form-control",type="text")
                            div(class="row mt-3")
                                div(class="col-sm-1 mt-2")
                                    p Age
                                div(class="col-sm-2")
                                    input(class="form-control",type="text")
                                div(class="col-sm-1 mt-2")
                                    p Sex
                                div(class="col-sm-2")
                                    select(class="form-select",aria-label="Default select example")
                                        option(value="M") Male
                                        option(value="F") Female
                                div(class="col-sm-2 mt-2")
                                    p Area Code
                                div(class="col-sm-4")
                                    select(class="form-select",aria-label="Default select example")
                                        option(selected) bg26
                                        option(value="14") bg14
                                        option(value="12") bg12 

                    div(class="row mt-3")
                        div(class="row mt-3")
                            div(class="col")
                                p Phone Number
                                input(class="form-control",type="phone")

                                p(class="mt-3") Address
                                textarea(class="form-control",rows="3")

                    div(class="col mt-3")
                            a(class="btn btn-primary me-2") Sign Up
                            a(class="btn btn-warning",href="/") Return to Home    
                    
                //- div(class="col-md-1")
                //-     div(style="border-left:1px solid #000;height:500px")
                div(class="col")
                        img(class="mt-5",src="/public/voter-img.webp")
                

